## VS Code files
.vscode

## Maven Files
pom.xml.versionsBackup
effective-pom.xml
target

## Intellij Files
.idea

## Jupyter Notebook files
.ipynb_checkpoints

## Application files
metrics.txt
stats.csv
*.log